{#<!-- adarea [広告エリア] -->#}
<div class="ad-area l-wrap">
    <p class="u-img--pc">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {#<!-- SNBI -->#}
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7279259302362027" data-ad-slot="8927544820"></ins>
        <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
    </p>
    <p class="u-img--sp">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {#<!-- SNBI（SP） -->#}
        <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-7279259302362027" data-ad-slot="3333981957"></ins>
        <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
    </p>
</div><!-- .ad-area // -->
