{#<!-- main 1 section -->#}
<div class="main-area l-wrap">
    <div class="l-panel l-panel--mv">

        {% for post in object_list|slice:":1" %}
        {% if user.is_authenticated or post.is_public %}
        <div class="l-panel__item l-panel__item--large">
            <article class="m-card m-card--large">
                <a href="{% url 'diary:post_detail' post.id %}">
                    <div class="m-card__img">
                        <span class="img__bg" style="background-image:url({{ post.image.url }})"></span>
                    </div>
                    <div class="m-card__body">
                        <p class="date">
                            <i class="fas fa-clock"></i> {{ post.published_at|date }}
                            <span>/</span>
                            <i class="fas fa-folder"></i> {{ post.category.name }}
                        </p>
                        <h3 class="hdg">{% if not post.is_public %}[下書き] {% endif %}{{ post.title }}</h3>
                    </div>
                </a>
            </article>
        </div>{#<!-- .l-panel__item // -->#}
        {% endif %}
        {% endfor %}

    </div>{#<!-- .l-panel // -->#}
</div>{#<!-- .main-area // -->#}


{#<!-- main 2 section -->#}
<div class="l-page__main">

    {# 広告 {% include "diary/snippets/ad.html" %} #}

    {#<!-- posts section -->#}
    <div class="item-area l-wrap">
        <div class="l-panel">

            {% for post in object_list|slice:"1:" %}
            {% if user.is_authenticated or post.is_public %}
            <div class="l-panel__item heightLine">
                <article class="m-card">
                    <a href="{% url 'diary:post_detail' post.id %}">
                        {% if post.image %}
                        <div class="m-card__img">
                            <span class="img__bg" style="background-image:url({{ post.image.url }})"></span>
                        </div>
                        {% endif %}
                        <div class="m-card__body">
                            <p class="date">
                                <i class="fas fa-clock"></i> {{ post.published_at|date }}<span>/</span>
                                <i class="fas fa-folder"></i> {{ post.category.name }}</p>
                            <h3 class="hdg">{% if not post.is_public %}[下書き] {% endif %}{{ post.title }}</h3>
                            <p class="detail u-img--pc">{{ post.description }}</p>
                        </div>
                    </a>
                </article>
            </div>{#<!-- .l-panel__item // -->#}
            {% endif %}
            {% empty %}
            <div class="l-panel__item heightLine">
                <article class="m-card">
                    <div class="m-card__body">
                        <h3>まだ投稿はありません。</h3>
                    </div>
                </article>
            </div>{#<!-- .l-panel__item // -->#}
            {% endfor %}

        </div>{#<!-- .l-panel // -->#}
    </div>{#<!-- .l-wrap // -->#}

    {% include "diary/snippets/pagination.html" %}

</div>{#<!-- .l-page__main // -->#}
