@charset 'UTF-8';
/*!
 * ress.css 窶｢ v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
.page-inner{
	padding-bottom: 0px;
}
.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body .date{
	position: absolute;
  bottom: 200px;
}
.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body .hdg {
 position: absolute;
 bottom: 70px;
}
.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body{
	z-index: 1;
	bottom: -25px;
}
.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__img:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	display: block;
}

@media all and (max-width: 720px){
	.main-area{
		padding: 0 20px;
	}
	.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body .date{
		position: inherit;
		margin-top: 10px;
	}
	.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body .hdg {
	 position: inherit;
	}
	.l-wrap .l-panel.l-panel--mv .l-panel__item .m-card .m-card__body{
		margin: 20px auto;
	}
}

.l-wrap.main{
	margin: 120px auto 90px;
}
.content.inner .sec{
	margin-top: 30px;
}
.content.inner .sec p{
	font-size: 16px;
	margin-top: 20px;
	letter-spacing: 0.15em;
	line-height: 1.8em;
}
.content.inner h4{
	font-size: 16px
}
.content.inner a{
	color: #4da1b4;
}
.content.inner .contact-list li{
	list-style: disc;
	margin: 10px 0 0 20px;
	line-height: 1em;
}

@media all and (max-width: 720px){
	.l-wrap.main{
	  margin: 60px auto 45px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.ad-area{
	padding: 40px 0;
	background: #e9edf0;
}
@media all and (max-width: 720px){
  .ad-area{
    padding: 20px 0;
  }
}
